<% for(let produto of produtos) { %>
<article
  id="productCard<%= produto.id %>"
  class="card card--img-full"
  data-badge="PROMO"
>
  <div class="card__img-container rounded">
    <img
      src="<%= produto.image %>"
      alt="Imagem do produto <%= produto.nome %>"
      width="146"
      height="146"
    />
  </div>
  <div class="card__content-container">
    <small class="bg-tertiary-light"><%= produto.category_id %></small>
    <h4 class="card__title"><%= produto.name %></h4>
    <br />

    <p class="card__description"><%= produto.descricao %> Saiba mais.</p>
    <div class="btn-group btn-group--center">
      <a href="/produtos/<%= produto.id %>" class="btn btn--tertiary-dark"
        >Ver Detalhes</a
      >
    </div>
  </div>
</article>
<% } %>
