<article
  id="productDetails<%= produto.id %>"
  class="card card--img-full"
  data-badge="PROMO"
>
  <div class="card__img-container rounded border-tertiary">
    <img
      src="<%= produto.image %>"
      alt="Imagem do produto <%= produto.nome %>"
      width="146"
      height="146"
    />
  </div>
  <div class="card__content-container">
    <div class="card__tags">
      <small class="tag bg-tertiary-light"><%= produto.category_id %></small>
    </div>
    <h3 class="card__title"><%= produto.name %></h3>

    <br />

    <div class="card__description">
      <h4>Descrição</h4>
      <p><%= produto.description %></p>
    </div>

    <div class="btn-group btn-group--center">
      <a href="/produtos" class="btn btn--tertiary-dark">Ver Todos</a>
    </div>
  </div>
</article>
